# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  python: circleci/python@1.2.1
jobs: 
  build: 
    executor: python/default
    steps: 
      - checkout 
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: requirements.txt
          pkg-manager: pip
      - python/install-packages:
          args: unittest-xml-reporting
          pkg-manager: pip
          pypi-cache: false
      - run:
          name: Run Unit Tests
          command: python test.py
      - store_test_results:
          path: test-reports
